page-environnement {
.background-image {
        background-image: url(http://www.ville-geneve.ch/fileadmin/public/images/themes_et_demarches/environnement_urbain_et_espaces_verts/CONTENU-verre-dBAUMANN.jpg);
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }
}