page-event-detail {
  /*.toolbar-background {
    width: 0%;
  }
  .title {
    height: 200px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://s-media-cache-ak0.pinimg.com/736x/71/7b/29/717b29abc74372833c3e784c55c3828a.jpg') no-repeat center fixed;
    -webkit-background-size: cover;

    background-size: cover;

  }
  .toolbar-title-md {

    font-size: 4rem;
    font-weight: 500;
    color: white;
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
  
    color: white;
    margin-bottom: 35%;
    font-size: 2rem;
    font-weight: 500;
    background-color: transparent;
  }
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
  }
  ion-avatar span {
    font-size: 30px;
    color: white;
  }*/
.background-image {
        background-image: url("https://cdn.vectorstock.com/i/thumb-large/74/78/7457478.jpg");
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
       // padding: 20px;
           width: 100%;
        background-color: white;
        position: absolute;
    }

ion-navbar .toolbar-background {
    background: transparent;
}

ion-content .scroll-content {
    margin-top:0px !important;
}
  .customIcon {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    box-shadow : none;
    background-color: transparent;}

ion-header{
        z-index: 0;
}
  .item-avatar-profile {
    ion-avatar img {
      width: 100% !important;
      height: 100% !important;
    }
    ion-avatar span {
      font-size: 30px;
      color: white;
    }
    background-color: transparent;
  }

  
      .no-scroll .scroll-content{
     overflow: hidden;

  }
}
