<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item (click)="selectLangue()">
  <i class="mdi mdi-alphabetical mdi-36px" item-left></i>
      <h2>Choisissez votre langue</h2>
       <p *ngIf="user.langue">{{user.langue}}</p>
      <p *ngIf="!user.langue">ceci permettra de cibler la bonne information pour vous</p>
  </ion-item>
  <ion-item (click)="selectCountry()">
  <i class="mdi mdi-alphabetical mdi-36px" item-left></i>
      <h2>indiquer votre pays d'origine</h2>
      <p *ngIf="user.pays">{{user.pays}}</p>
      <p *ngIf="!user.pays">ceci permettra de cibler la bonne information pour vous</p>
  </ion-item>
</ion-list>
</ion-content>