page-blog-detail {
.background-image {
        //background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150);
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
        padding: 20px;
        background-color: white;
        position: absolute;
    }
}