page-directory-detail {
   #mapContainer { height: 200px; }
   // #aboutContent { position: relative; }
   // #directionsPanel { position: absolute; top: 10px; left: 2px; z-index: 99; overflow:hidden; }
}
