<span style="margin:10px;line-height: 40px;">Aujourd'hui</span>
<ion-list>
  <ion-item *ngFor="let event of events" (click)="onSelect.emit(event)">
<ion-badge item-left color="secondary" *ngIf="+event.eventType < 1">publique</ion-badge>
      <ion-badge item-left color="danger" *ngIf="+event.eventType > 0">privé</ion-badge>
    <h2>{{ event.name }}</h2>
    <p>{{ event.description }}</p>
    <ion-note item-right>{{event.date | date:'dd MMM y'}}</ion-note>
  </ion-item>
</ion-list>
<span style="margin:10px;line-height: 40px;">Cette semaine</span>
<ion-list>
  <ion-item *ngFor="let event of events" (click)="onSelect.emit(event)">
    <ion-badge item-left color="secondary" *ngIf="+event.eventType < 1">publique</ion-badge>
    <ion-badge item-left color="danger" *ngIf="+event.eventType > 0">privé</ion-badge>
    <h2>{{ event.name }}</h2>
    <p>{{ event.description }} </p>
    <ion-note item-right>{{event.date | date:'dd MMM y'}}</ion-note>
  </ion-item>
</ion-list>
