page-menu {
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
        
    }
    ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
        i {
            font-size: 96px;
            display: inline-block;
            line-height: 1;
            position: relative;
            width: 10%;
        }
    }


}
