$text-avatar-size: 4rem !default;

text-avatar {
    background-color: red;
    color: white;
}

text-avatar, text-avatar::after {
    width: $text-avatar-size;
    height: $text-avatar-size;
    border-radius: $text-avatar-size / 2;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: font-size(xxx-large);
}

text-avatar::after {
    content: attr(value);
}