<div>
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="kittens">
      Kittens
    </ion-segment-button>
    <ion-segment-button value="puppies">
      Puppies
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet" style="margin-top:10px;">
 
  <div *ngSwitchCase="'puppies'">
     <ion-searchbar autocorrect="off" [(ngModel)]='listFilter'></ion-searchbar>
    <ion-list *ngFor="let contactCat of contacts" style="margin-top:2px;">
      <ion-list-header style="margin-top:2px;" [style.background-color]="contactCat.color">
      <ion-row no-padding>
        <ion-col>
            {{ contactCat.categorie }}
        </ion-col>
        <ion-col text-right>
          <i class="{{contactCat.mdiClass}}"></i>
        </ion-col>
      </ion-row>
      </ion-list-header>
      <ion-item *ngFor="let contact of contactCat.contacts | directoryFilter:listFilter" (click)="onSelect.emit(contact)">{{ contact.name }}</ion-item>
      
    </ion-list>
  </div>

  <ion-list *ngSwitchCase="'kittens'">
    <ion-card *ngFor="let contactCat of contacts" (click)="onSelect.emit(contactCat)" [style.background-color]="contactCat.color">

      <ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <ion-note>
            {{ contactCat.categorie }}
          </ion-note>
          
        </ion-col>
        <ion-col text-center>
          <i class="{{contactCat.mdiClass}} mdi-48px"></i>
        </ion-col>
      </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-list>
</div>