page-association-detail {
 .background-image {
        background-image: url("https://image.freepik.com/free-vector/flat-business-team-with-documents-and-laptops_23-2147552538.jpg");
        background-size: cover;
        background-position: center;
        height: 50vw;
    }
 
    .main-content {
       // padding: 20px;
        background-color: white;
        position: absolute;
    }
}
