page-home {
  .toolbar-md {
    min-height: 300px;
    background: linear-gradient( rgba(69, 127, 202, 0.6), rgba( 100, 100, 100, 0.6)), url('https://t3.ftcdn.net/jpg/01/23/22/90/240_F_123229093_6NDt2J5adGaQcvEMpFEbFcqkiZo7P9ML.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .toolbar-background {
    width: 0%;
  }
  ion-fab[top] {
    top: -25px;
  }
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
  }
  ion-avatar i {
    font-size: 20px;
  }

}
